<a href="https://colab.research.google.com/github/abhaydubey200/-Car-Rental-App/blob/main/Superstore_Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
import sqlite3


warnings.filterwarnings('ignore')

In [4]:
sale_pd = pd.read_csv('/superstore_sales_cleaned.csv')
sale_pd.head()

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [5]:
sale_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9788 non-null   object
 1   Order_Date     9788 non-null   object
 2   Ship_Date      9788 non-null   object
 3   Ship_Mode      9788 non-null   object
 4   Customer_ID    9788 non-null   object
 5   Customer_Name  9788 non-null   object
 6   Segment        9788 non-null   object
 7   Country        9788 non-null   object
 8   City           9788 non-null   object
 9   State          9788 non-null   object
 10  Postal_Code    9788 non-null   int64
 11  Region         9788 non-null   object
 12  Product_ID     9788 non-null   object
 13  Category       9788 non-null   object
 14  Sub_Category   9788 non-null   object
 15  Product_Name   9788 non-null   object
 16  Sales          9788 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 1.3+ MB

In [15]:
sale_pd['Order_Date'] = pd.to_datetime(sale_pd['Order_Date'], format="%Y-%m-%d")
sale_pd['Ship_Date'] = pd.to_datetime(sale_pd['Ship_Date'], format="%Y-%m-%d")
sale_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9788 entries, 0 to 9787
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9788 non-null   object
 1   Order_Date     9788 non-null   datetime64[ns]
 2   Ship_Date      9788 non-null   datetime64[ns]
 3   Ship_Mode      9788 non-null   object
 4   Customer_ID    9788 non-null   object
 5   Customer_Name  9788 non-null   object
 6   Segment        9788 non-null   object
 7   Country        9788 non-null   object
 8   City           9788 non-null   object
 9   State          9788 non-null   object
 10  Postal_Code    9788 non-null   int64
 11  Region         9788 non-null   object
 12  Product_ID     9788 non-null   object
 13  Category       9788 non-null   object
 14  Sub_Category   9788 non-null   object
 15  Product_Name   9788 non-null   object
 16  Sales          9788 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(13)
memory usage: 1.3+ MB

In [16]:
sale_pd.isnull().sum()

Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [17]:
sale_pd.duplicated().sum()

0

In [20]:
sale_pd = sale_pd[~(sale_pd['Postal_Code'].isnull())] # Changed sale.pd to sale_pd

In [21]:
sale_pd.shape

(9788, 17)

In [22]:
sale_pd.dtypes

Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code               int64
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

In [23]:
sale_pd['Postal_Code'] = sale_pd['Postal_Code'].astype('int64')
sale_pd.dtypes

Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code               int64
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

In [24]:
sale_pd.describe()

,Order_Date,Ship_Date,Postal_Code,Sales
count,9788,9788,9788.000000,9788.000000
mean,2017-05-01 04:40:42.174091008,2017-05-05 03:44:47.862688768,55274.552922,230.110956
min,2015-01-03 00:00:00,2015-01-07 00:00:00,1040.000000,0.444000
25%,2016-05-23 00:00:00,2016-05-27 00:00:00,23223.000000,17.248000
50%,2017-06-26 00:00:00,2017-06-29 00:00:00,58103.000000,54.376000
75%,2018-05-15 06:00:00,2018-05-19 06:00:00,90008.000000,210.104000
max,2018-12-30 00:00:00,2019-01-05 00:00:00,99301.000000,22638.480000
std,NaN,NaN,32042.628986,625.333809

In [25]:
duplicate =sale_pd[sale_pd.iloc[:, 1:].duplicated(keep=False)]
duplicate

Empty DataFrame
Columns: [Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales]
Index: []

In [26]:
sale_pd=sale_pd.iloc[:, 1:].drop_duplicates()
sale_pd.shape

(9788, 16)

In [27]:
sale_pd.head()

,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [28]:
cols = list(sale_pd.columns)

#Checking values count of each column:

for col in cols:
    print(col)
    print('')
    print(sale_pd[col].value_counts())
    print('')

Order_Date

Order_Date
2017-09-05    38
2017-11-10    35
2018-12-02    34
2018-12-01    34
2018-12-09    33
              ..
2017-02-25     1
2017-10-25     1
2015-09-11     1
2015-09-16     1
2016-05-09     1
Name: count, Length: 1229, dtype: int64

Ship_Date

Ship_Date
2018-09-26    34
2018-12-06    32
2016-12-16    31
2018-09-06    30
2018-12-12    30
              ..
2016-07-30     1
2017-01-26     1
2015-01-17     1
2018-08-17     1
2016-05-13     1
Name: count, Length: 1326, dtype: int64

Ship_Mode

Ship_Mode
Standard Class    5848
Second Class      1901
First Class       1501
Same Day           538
Name: count, dtype: int64

Customer_ID

Customer_ID
WB-21850    35
PP-18955    34
MA-17560    34
JL-15835    33
JD-15895    32
            ..
AO-10810     1
JR-15700     1
CJ-11875     1
SC-20845     1
RE-19405     1
Name: count, Length: 793, dtype: int64

Customer_Name

Customer_Name
William Brown       35
Paul Prost          34
Matt Abelman        34
John Lee            33
Jonathan Doherty    32
                    ..
Anthony O Donnel     1
Jocasta Rupert       1
Carl Jackson         1
Sung Chung           1
Ricardo Emerson      1
Name: count, Length: 793, dtype: int64

Segment

Segment
Consumer       5096
Corporate      2948
Home Office    1744
Name: count, dtype: int64

Country

Country
United States    9788
Name: count, dtype: int64

City

City
New York City    891
Los Angeles      728
Philadelphia     532
San Francisco    500
Seattle          426
                ...
San Mateo          1
Cheyenne           1
Conway             1
Melbourne          1
Springdale         1
Name: count, Length: 529, dtype: int64

State

State
California              1946
New York                1097
Texas                    973
Pennsylvania             582
Washington               504
Illinois                 483
Ohio                     453
Florida                  373
Michigan                 253
North Carolina           247
Virginia                 224
Arizona                  223
Tennessee                183
Colorado                 179
Georgia                  177
Kentucky                 137
Indiana                  135
Massachusetts            135
Oregon                   122
New Jersey               122
Maryland                 105
Wisconsin                105
Delaware                  93
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              55
Mississippi               53
Utah                      53
South Carolina            42
Louisiana                 41
Nevada                    39
Nebraska                  38
New Mexico                37
New Hampshire             27
Iowa                      26
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

Postal_Code

Postal_Code
10035    253
10024    225
10009    220
94122    195
10011    193
        ...
32935      1
76248      1
32127      1
32503      1
72762      1
Name: count, Length: 626, dtype: int64

Region

Region
West       3140
East       2773
Central    2277
South      1598
Name: count, dtype: int64

Product_ID

Product_ID
OFF-PA-10001970    18
TEC-AC-10003832    18
FUR-FU-10004270    16
TEC-AC-10002049    15
TEC-AC-10003628    15
                   ..
OFF-ST-10001034     1
TEC-PH-10001468     1
OFF-AR-10004974     1
TEC-AC-10003133     1
TEC-PH-10002645     1
Name: count, Length: 1860, dtype: int64

Category

Category
Office Supplies    5903
Furniture          2075
Technology         1810
Name: count, dtype: int64

Sub_Category

Sub_Category
Binders        1492
Paper          1336
Furnishings     931
Phones          875
Storage         831
Art             784
Accessories     754
Chairs          605
Appliances      458
Labels          357
Tables          314
Envelopes       247
Bookcases       225
Fasteners       214
Supplies        184
Machines        115
Copiers          66
Name: count, dtype: int64

Product_Name

Product_Name
Staple envelope                                                      47
Staples                                                              46
Easy-staple paper                                                    44
Avery Non-Stick Binders                                              20
Staples in misc. colors                                              18
                                                                     ..
Acco Glide Clips                                                      1
Wasp CCD Handheld Bar Code Reader                                     1
Computer Printout Paper with Letter-Trim Fine Perforations            1
Universal Ultra Bright White Copier/Laser Paper, 8 1/2 x 11, Ream     1
LG G2                                                                 1
Name: count, Length: 1848, dtype: int64

Sales

Sales
12.960      55
19.440      39
15.552      39
10.368      35
25.920      34
            ..
2504.740     1
27.264       1
56.650       1
58.720       1
10.384       1
Name: count, Length: 5750, dtype: int64

In [29]:
sale_pd[sale_pd['Ship_Date']<sale_pd['Order_Date']]

Empty DataFrame
Columns: [Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales]
Index: []

In [30]:
sale_pd.reset_index(drop=True, inplace=True)
sale_pd.head()

,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [32]:
sale_pd.to_csv('superstore_sales_cleaned.csv', index=False)

 **SQL Commands**

In [35]:
df = pd.read_csv('/superstore_sales_cleaned.csv')

In [36]:
conn = sqlite3.connect(':memory:')  # Creates an in-memory database
df.to_sql('superstore', conn, index=False, if_exists='replace')

9788

In [51]:
# Q1 - Percentage of same-day shipping
query1 = """
SELECT
    ROUND((COUNT(DISTINCT Order_ID) / (SELECT COUNT(DISTINCT Order_ID) FROM superstore)) * 100, 2) AS Same_Day_Shipping_Percentage
FROM superstore
WHERE Order_Date = Ship_Date;
"""
print(pd.read_sql_query(query1, conn))

   Same_Day_Shipping_Percentage
0                           0.0

In [62]:
# Q2 - Top 3 customers by total order value
query2 = """
SELECT Customer_Name, ROUND(SUM(Sales), 3) AS TotalOrderValue
FROM superstore
GROUP BY Customer_Name
ORDER BY TotalOrderValue DESC
LIMIT 3;
"""
print(pd.read_sql_query(query2, conn))

  Customer_Name  TotalOrderValue
0   Sean Miller        25043.050
1  Tamara Chand        19052.218
2  Raymond Buch        15117.339

In [61]:
# Q3 - Top 5 items with highest average sales per day
query3 = """
SELECT Product_ID, ROUND(AVG(Sales), 3) AS Average_Sales
FROM superstore
GROUP BY Product_ID
ORDER BY Average_Sales DESC
LIMIT 5;
"""
print(pd.read_sql_query(query3, conn))

        Product_ID  Average_Sales
0  TEC-MA-10002412      22638.480
1  TEC-CO-10004722      12319.965
2  TEC-MA-10004125       7999.980
3  TEC-MA-10001047       7149.945
4  TEC-MA-10001127       6124.965

In [60]:
# Q4 - Average order value and ranking by customer
query4 = """
SELECT Customer_Name, ROUND(AVG(Sales), 3) AS avg_order_value,
DENSE_RANK() OVER (ORDER BY AVG(Sales) DESC) AS sales_rank
FROM superstore
GROUP BY Customer_Name;
"""
print(pd.read_sql_query(query4, conn))

        Customer_Name  avg_order_value  sales_rank
0    Mitch Willingham         1751.292           1
1         Sean Miller         1669.537           2
2        Tamara Chand         1587.685           3
3      Grant Thornton         1558.535           4
4        Tom Ashbrook         1459.562           5
..                ...              ...         ...
788    Susan Gilcrest            9.589         789
789   Mitch Gastineau            8.370         790
790        Roy Skaria            7.443         791
791      Lela Donovan            5.304         792
792     Thais Sissman            2.417         793

[793 rows x 3 columns]

In [59]:
# Q5 - Customers with highest and lowest orders from each city
query5 = """
WITH cte AS (
  SELECT City, ROUND(MAX(Sales), 4) AS highest_order, ROUND(MIN(Sales), 4) AS lowest_order
  FROM superstore
  GROUP BY City
),
highest_orders AS (
  SELECT s.City, cte.highest_order, cte.lowest_order, s.Customer_Name
  FROM superstore s
  JOIN cte ON s.City = cte.City
  WHERE s.Sales = cte.highest_order
),
lowest_orders AS (
  SELECT s.City, cte.highest_order, cte.lowest_order, s.Customer_Name
  FROM superstore s
  JOIN cte ON s.City = cte.City
  WHERE s.Sales = cte.lowest_order
)
SELECT h.City, h.highest_order, h.Customer_Name AS highest_order_customer,
       l.lowest_order, l.Customer_Name AS lowest_order_customer
FROM highest_orders h
JOIN lowest_orders l ON h.City = l.City
ORDER BY h.City;
"""
print(pd.read_sql_query(query5, conn))

            City  highest_order highest_order_customer  lowest_order  \
0       Aberdeen         25.500        Jeremy Lonsdale        25.500
1        Abilene          1.392            Dennis Kane         1.392
2          Akron        665.408             Ed Braxton         2.286
3    Albuquerque        595.000      Michelle Lonsdale         4.280
4     Alexandria       4164.050           Greg Maxwell        12.420
..           ...            ...                    ...           ...
524   Woonsocket         52.960            Andy Reiter        45.360
525      Yonkers       4899.930          Karen Daniels        10.896
526         York        422.058          Theresa Swint        37.896
527      Yucaipa         50.800          Odella Nelson        50.800
528         Yuma        599.985            Gary Hansen        10.496

    lowest_order_customer
0         Jeremy Lonsdale
1             Dennis Kane
2              Karl Braun
3         Susan Vittorini
4         Shirley Daniels
..                    ...
524             Don Jones
525           Nathan Cano
526           Noah Childs
527         Odella Nelson
528          Dario Medina

[529 rows x 5 columns]

In [58]:
# Q6 - Most demanded sub-category in West region
query6 = """
SELECT Sub_Category, ROUND(SUM(Sales), 3) AS total_quantity
FROM superstore
WHERE Region = 'West'
GROUP BY Sub_Category
ORDER BY total_quantity DESC
LIMIT 1;
"""
print(pd.read_sql_query(query6, conn))

  Sub_Category  total_quantity
0       Chairs        100023.2

In [57]:
# Q7 - Order with highest number of items
query7 = """
SELECT Order_ID, COUNT(*) AS num_item
FROM superstore
GROUP BY Order_ID
ORDER BY num_item DESC
LIMIT 1;
"""
print(pd.read_sql_query(query7, conn))

         Order_ID  num_item
0  CA-2018-100111        14

In [56]:
# Q8 - Order with highest cumulative value
query8 = """
SELECT Order_ID, ROUND(SUM(Sales), 3) AS order_value
FROM superstore
GROUP BY Order_ID
ORDER BY order_value DESC
LIMIT 1;
"""
print(pd.read_sql_query(query8, conn))

         Order_ID  order_value
0  CA-2015-145317    23661.228

In [55]:
# Q9 - Segment most likely to ship via first class
query9 = """
SELECT Segment, COUNT(Order_ID) AS num_of_ordr
FROM superstore
WHERE Ship_Mode = 'First Class'
GROUP BY Segment
ORDER BY num_of_ordr DESC;
"""
print(pd.read_sql_query(query9, conn))

       Segment  num_of_ordr
0     Consumer          755
1    Corporate          468
2  Home Office          278

In [54]:
# Q10 - City with least contribution to revenue
query10 = """
SELECT City, ROUND(SUM(Sales), 3) AS TotalSales
FROM superstore
GROUP BY City
ORDER BY TotalSales ASC
LIMIT 1;
"""
print(pd.read_sql_query(query10, conn))

      City  TotalSales
0  Abilene       1.392

In [53]:
# Q11 - Average shipping time
query11 = """
SELECT AVG(julianday(Ship_Date) - julianday(Order_Date)) AS avg_ship_time
FROM superstore;
"""
print(pd.read_sql_query(query11, conn))

   avg_ship_time
0       3.961177

In [52]:
# Q12 - Segment with most orders and largest order in each state
query12 = """
WITH cte AS (
  SELECT State, Segment, COUNT(Order_ID) AS num_orders,
         RANK() OVER (PARTITION BY State ORDER BY COUNT(Order_ID) DESC) AS state_rank
  FROM superstore
  GROUP BY State, Segment
)
SELECT State, Segment
FROM cte
WHERE state_rank = 1;
"""
print(pd.read_sql_query(query12, conn))

                   State      Segment
0                Alabama    Corporate
1                Arizona     Consumer
2               Arkansas     Consumer
3             California     Consumer
4               Colorado     Consumer
5            Connecticut     Consumer
6               Delaware     Consumer
7   District of Columbia     Consumer
8                Florida     Consumer
9                Georgia     Consumer
10                 Idaho    Corporate
11                 Idaho     Consumer
12              Illinois     Consumer
13               Indiana     Consumer
14                  Iowa    Corporate
15                  Iowa     Consumer
16                Kansas  Home Office
17                Kansas    Corporate
18                Kansas     Consumer
19              Kentucky     Consumer
20             Louisiana     Consumer
21                 Maine    Corporate
22              Maryland     Consumer
23         Massachusetts     Consumer
24              Michigan     Consumer
25             Minnesota     Consumer
26           Mississippi     Consumer
27              Missouri     Consumer
28               Montana  Home Office
29              Nebraska     Consumer
30                Nevada     Consumer
31         New Hampshire  Home Office
32            New Jersey     Consumer
33            New Mexico     Consumer
34              New York     Consumer
35        North Carolina     Consumer
36          North Dakota     Consumer
37                  Ohio     Consumer
38              Oklahoma     Consumer
39                Oregon     Consumer
40          Pennsylvania     Consumer
41          Rhode Island    Corporate
42        South Carolina     Consumer
43          South Dakota    Corporate
44             Tennessee     Consumer
45                 Texas     Consumer
46                  Utah     Consumer
47              Virginia     Consumer
48            Washington     Consumer
49         West Virginia  Home Office
50             Wisconsin    Corporate
51               Wyoming  Home Office